
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Secretary/SecretaryLayout.cshtml";
}

<div class="panel panel-info animated bounceIn">
    <div class="panel-heading">
        <h4>Great news!</h4>
    </div>
    <div class="panel-body">
        <p>
            You have Successfully Voted!<br/>
        </p>
    </div>
</div>


