@using SchoolManagementSystem.Models
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MEC</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/Content/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="~/Content/dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Datepicker CSS -->
    <link href="~/Content/dist/css/bootstrap-datepicker.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="~/Content/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Content/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/App.js"></script>

    <link href="~/Content/animate.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css" />
    <script src="~/Scripts/jquery-ui.min.js"></script>
</head>
<!--
==================================================
    Company Description Section Start
================================================== -->
<section class="company-description">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s">
                <img src="~/imgRepo/about-company.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-md-6">
                <div class="block">
                    <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">Why We are Different</h3>
                    <p>Over  and above the low matric pass rate in the area, couple with the   lack  of finishing schools in the area which result in the majority of   most of our youth losing  hope and engaging on immoral activities,   following are, as identified by the  National Skills Development   Strategy, the problems the centre is aiming to  address: </p>
                    <table width="613">
                        <tbody>
                            <tr>
                                <td height="54" width="19">1.</td>
                                <td width="567"><div>Marginalization and  economic disempowerment of the majority: low employment rates and large inequalities in incomes. </div></td>
                                <td width="5"> </td>
                            </tr>
                            <tr>
                                <td height="59">2.</td>
                                <td><div>The low skills base  of young people who face difficulty finding decent work and earning decent  incomes.</div></td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td height="31">3.</td>
                                <td><div>The need for a more  diversified and knowledge intensive economy.</div></td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td height="35">4.</td>
                                <td><div>Skill bottlenecks,  especially in priority and scarce skills. </div></td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td height="59">5.</td>
                                <td><div>Low participation  rates and distortions in shape, size and distribution of access to post-school  education.</div></td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td height="36">6.</td>
                                <td><div>Quality and  inefficiency challenges in the system and its subsystems and in institutions.</div></td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td>7.</td>
                                <td><div>Individuals and  transitions.</div></td>
                            </tr>
                        </tbody>
                    </table>
                    <h4 class="consult-title">&nbsp;</h4>
                    <h4 class="consult-title">Our Mission</h4>
                    <p>Partnering with the big four universities   in KZN, EMC offers a carefully designed programme that ensures   supporting, growing and learning environment</p>


                </div>
            </div>
        </div>
    </div>
</section>


<!--
==================================================
    Company Feature Section Start
================================================== -->
@*<section class="about-feature clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="block about-feature-1 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                    <h2>
                        GOALS
                    </h2>
                    <p>

                    </p>
                </div>
                <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                    <h2 class="item_title">
                        GOALS
                    </h2>
                    <p>

                    </p>
                </div>
                <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                    <h2 class="item_title">
                        GOALS
                    </h2>
                    <p>

                    </p>
                </div>
            </div>
        </div>
    </section>*@


</body>
