
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Home/_Home.cshtml";
}

<div class="panel panel-info animated bounceIn">
    <div class="panel-heading">
        <h4>Great news!</h4>
    </div>
    <div class="panel-body">
        <p>
            Your application has been sent!<br/>
            We will let you know when your application will be approved. <br />
            <br /><br />
            <span style="padding-top: 300px;">
                <strong>Regards</strong><br />
                Matric Excemption Centre
            </span>
        </p>
    </div>
</div>


