
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<div class="text-center">
    <h1 class="glyphicon glyphicon-question-sign animated bounceInDown"></h1>
    <h3>Add pictures to your post</h3>
    <p>Do you want to add pictures to the post you just published?</p>
    <p>
        @Html.ActionLink("No", "Index", new { controller = "News" }, new { @class = "btn btn-sm btn-danger", @style = "padding-left: 20px; padding-right: 20px;" })
        @Html.ActionLink("Yes", "Upload", new {Id = ViewBag.PostId }, new { @class = "btn btn-sm btn-success", @style = "padding-left: 20px; padding-right: 20px; margin-left:15px;" })
    </p>
</div>
