@model  SchoolManagementSystem.Domain.Entities.Compus

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Compus</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.compusnam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compusnam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.compus_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
