@using ShaleCo.OnlineQuiz.Web.Models
@model ShaleCo.OnlineQuiz.Web.Models.QuizViewModel.ListViewModel
@{
    ViewBag.Title = "List";
}

<h2>Quizzes</h2>

@if(User.IsInRole(UserRoles.Student.ToString()))
{ 
    <p>Below are the quizzes which are available for you.</p>
    <div class="row">
        <div class="col-lg-4">
            <div class="list-group">
                @foreach (var quiz in Model.Quizzes)
                {
                    <a href="/Quiz/Attempt/@quiz.QuizID" class="list-group-item">
                        <h4 class="list-group-item-heading">@quiz.QuizName</h4>
                        <p class="list-group-item-text">
                            @quiz.Questions.Count Questions
                        </p>
                    </a>
                }
            </div>
        </div>
    </div>
}
else
{
    <p>Below are the quizzes which you have created.</p>
    <div class="row">
        <div class="col-lg-4">
            <div class="list-group">
                @foreach (var quiz in Model.Quizzes)
                {
                    <a href="/Quiz/Details/@quiz.QuizID" class="list-group-item">
                        <h4 class="list-group-item-heading">@quiz.QuizName</h4>
                        <p class="list-group-item-text">
                            @quiz.Questions.Count Questions
                        </p>
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <a class="btn btn-primary" href="/Quiz/Create/">Create Quiz</a>
        </div>
    </div>
}

